
@media only screen and (min-width: 410px)
{

    .col
    {
      &_2 {
        width: unquote($w480px);
      }

      &_3,
      &_4,
      &_5,
      &_6,
      &_7,
      &_8,
      &_9 {
        width: unquote($w800px);
      }
    }

}

@media only screen and (min-width: 450px)
{

    .col
    {
      &_3,
      &_4,
      &_5,
      &_6,
      &_7,
      &_8,
      &_9 {
        width: unquote($w720px);
      }

      &_10 {
        width: unquote($w800px);
      }

      &_11 {
        width: unquote($w880px);
      }
    }

}

@media only screen and (min-width: 500px)
{

    .float
    {
      float: left;

      &-right {
        float: right;
      }
    }

    .col
    {
      &_3,
      &_4,
      &_5,
      &_6,
      &_7,
      &_8 {
        width: unquote($w640px);
      }
    }

    .author,
    .socials {
      margin: 0;
    }

}

@media only screen and (min-width: 550px)
{

    .float_col
    {
      float: left;

      &-right {
        float: right;
      }
    }

    .col
    {
      &_3,
      &_4,
      &_5,
      &_6 {
        width: unquote($w480px);
      }

      &_7 {
        width: unquote($w560px);
      }
    }

    .study_card_wrap {
      width: unquote($w960px);
    }

      .study_card
      {
        display: table;
        margin: 0 auto;

        &__img_wrap
        {
          margin-right: 20px;
          width: 140px;
        }

          &__img {
            display: inline;
            width: 100%;
          }

        &__text_wrap {
          width: 300px;
        }

          &__title,
          &__desc {
            text-align: left;
          }
      }

    .course_wrap:nth-child(odd) {
      clear: both;
    }

}

@media only screen and (min-width: 600px)
{

      .study_card
      {
        width: 81.27208480565371%;

        &__text_wrap {
          // width: 300px;
          width: 65.21739130434783%;
        }
      }

      .author__text_wrap {
        width: auto;
      }

}

@media only screen and (min-width: 815px)
{

    .col
    {
      &_1 {
        width: unquote($w80px);
      }

      &_2 {
        width: unquote($w160px);
      }

      &_3 {
        width: unquote($w240px);
      }

      &_4 {
        width: unquote($w320px);
        // $w100: unquote($w960px);
        // width: calc(#{$w100}/3);
      }

      &_5 {
        width: unquote($w400px);
      }
    }

    .study_card_wrap {
      width: unquote($w480px);
    }

      .study_card
      {
        width: 100%;

        &__img_wrap
        {
          // margin-right: 20px;
          margin-right: 4.347826086956522%;
          // width: 140px;
          width: 30.43478260869565%;
        }
      }

    .course_wrap
    {
      &:nth-child(odd) {
        clear: none;
      }

      &:nth-child(3n) {
        clear: both;
      }
    }

}
