
    .float_col,
    .col {
      padding: 0 unquote($colMrg);
    }

    .float_col
    {
      float: left;

      &-right {
        float: right;
      }

      // &.col
      // {
      //   &_1:nth-child(1) {
      //     clear: both;
      //   }
      // }
    }

    .col
    {
      &_1 {
        width: unquote($w80px);
      }

      &_2,
      &_3,
      &_4,
      &_5,
      &_6,
      &_7,
      &_8,
      &_9,
      &_10,
      &_11,
      &_12 {
        width: unquote($w960px);
      }
    }
