
    .float_col,
    .col {
      margin: 0 auto;
      padding: 0 unquote($colMrg);
    }

    .col
    {
      &_1 {
        width: unquote($w80px);
      }

      &_2,
      &_3,
      &_4,
      &_5,
      &_6,
      &_7,
      &_8,
      &_9 {
        width: unquote($w640px);
      }

      &_10,
      &_11,
      &_12 {
        width: unquote($w960px);
      }
    }
