$white: #fff;
$green: #8cc34b;
$lightBlack: #212121;
$shadow: rgba(0,0,0,.2);
$reserveFonts: Arial, Helvetica, sans-serif;
// $reserveFonts: 'Open Sans', Arial, Helvetica, sans-serif;

$mainFolder: '../fonts';

$mainFont: 'Fira Sans';
// $mainFont: 'Open Sans';
$fontAwesome: '#{$mainFolder}/FontAwesome/FontAwesome';

$colMrg: '0.7142857142857143em';

$w10px: '1.041666666666667%';
$w20px: '2.083333333333333%';
// col 1
$w60px: '6.25%';
$w80px: '8.333333333333333%';
// col 2
$w140px: '14.58333333333333%';
$w160px: '16.66666666666667%';
// col 3
$w220px: '22.91666666666667%';
$w240px: '25%';
// col 4
$w300px: '31.25%';
$w320px: '33.33333333333333%';
// col 5
$w380px: '39.58333333333333%';
$w400px: '41.66666666666667%';
// col 6
$w460px: '47.91666666666667%';
$w480px: '50%';
// col 7
$w540px: '56.25%';
$w560px: '58.33333333333333%';
// col 8
$w620px: '64.58333333333333%';
$w640px: '66.66666666666667%';
// col 9
$w700px: '72.91666666666667%';
$w720px: '75%';
// col 10
$w780px: '81.25%';
$w800px: '83.33333333333333%';
// col 11
$w860px: '89.58333333333333%';
$w880px: '91.66666666666667%';
// col 12
$w940px: '97.91666666666667%';
$w960px: '100%';
