$white: #fff;
$green: #8cc34b;
$lightBlack: #212121;
$shadow: rgba(0,0,0,.2);
$reserveFonts: Arial, Helvetica, sans-serif;
// $reserveFonts: 'Open Sans', Arial, Helvetica, sans-serif;

$mainFolder: '../fonts';

$mainFont: 'Fira Sans';
// $mainFont: 'Open Sans';
$fontAwesome: '#{$mainFolder}/FontAwesome/FontAwesome';
