@import 'variables';
@import 'mixins';
@import 'fonts';
@import "normalize/import-now";
@import "columns";

* {
  margin: 0;
  border-width: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  // position: relative;
  // padding-bottom: 72px;
  // font: 14px/21px $mainFont , $reserveFonts;
  font: 87.5%/1.5 $mainFont , $reserveFonts;
  color: #727272;
  // background-color: $white;
  background: #f4f5f2 url(../img/bg/courses.png);
  // overflow-x: auto;
}

  .section {
    // padding-top: 70px;
    overflow: hidden;
  }

  .wide_container {
    padding: 0 unquote($colMrg);
  }

  .wide_container,
  .container {
    // padding: 0 $colMrg;
    min-width: 100px;
  }

  .section,
  .float_col,
  .clear,
  .container
  {
    &:after {
      display: block;
      width: 100%;
      clear: both;
      content: '';
    }
  }

  .title,
  .section__desc {
    // width: 100%;
    line-height: 1.2;
  }

  // .title {
  //   @include fontFamily;
  // }

  .section__title,
  .section__desc {
    text-align: center;
  }

  .title,
  .section__desc {
    // font-size: 21px;
    font-size: 1.5em;
  }

  .section__title {
    // font-size: 42px;
    font-size: 3em;
    // font-weight: 500;
    // for 'Open Sans'
    font-weight: 600;
    text-align: center;
  }

  .section__desc {
    font-weight: 200;
  }

  a
  {
    &,
    &:visited,
    &:link,
    &:hover {
      outline-width: 0;
    }

    & {
      transition: all .5s;
    }
  }

  .header
  {
    position: relative;
    z-index: 100000;
    padding: 15px 30px 15px 29px;
    // height: 90px;
    color: $white;
    background-color: $green;
    box-shadow: 0 5px 5px $shadow;

    &__link
    {
      color: inherit;
      text-decoration: none;
      opacity: .7;

      &:hover {
        opacity: 1;
      }
    }
  }

    .img_wrap
    {
      background-color: $lightBlack;
      overflow: hidden;

      &__img {
        width: 100%;
        max-width: 100%;
        height: auto;
        color: $white;
      }
    }

    .author
    {
      &__logo_wrap,
      &__text_wrap {
        float: left;
      }

      &__logo_wrap {
        margin-right: 20px;
        border-radius: 50%;
        border: 1px solid $white;
        width: 60px;
        height: 60px;
      }

        &__title {
          padding: 7px 0 1px;
          // font-size: 21.26px;
          font-size: 1.518571428571429em;
          text-align: left;
        }
    }

    ul {
      list-style: none inside;
    }

    .socials
    {
      float: none;
      display: table;
      margin: 0 auto;
      padding-top: 12px;
      // font: 35px/1 FontAwesome;
      font: 2.5em/1 FontAwesome;

      &__item
      {
        float: left;
        margin-left: 20px;

        &:first-child {
          margin: 0;
        }
      }

        &__link {
          display: block;
          width: 30px;
          height: 35px;
          overflow: hidden;
        }

        &__github:before {
          content: '\f09b';
        }

        &__skype:before {
          content: '\f17e';
        }

        &__vk
        {
          width: 38px;

          &:before {
            content: '\f189';
          }
        }
    }

  .container {
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: flex-start;
    // align-items: flex-start;
    margin: 0 auto;
    // width: 100%;
    max-width: 960px;
    // outline: 1px solid #070;
  }

    .card
    {
      // margin-left: 10px;
      // margin-right: 10px;

      &__title {
        margin-bottom: 8px;
        font-weight: 400;
        color: $lightBlack;
      }
      &__desc {
        overflow-x: auto;
      }
    }

  .about
  {
    padding: 70px 0 96px;
    // height: 473px;
    background-color: $white;

    &__title {
      position: relative;
      top: 0;
      text-align: center;
      color: $lightBlack;
    }

    &__desc {
      margin-top: 14px;
    }
  }

    .study_card
    {
      margin-top: 37px;
      // padding-left: 160px;
      // width: 460px;

      // &-about_me {
      //   background: url(../img/bg/about-study/1.png) no-repeat;
      // }

      // &-my_experience {
      //   background: url(../img/bg/about-study/2.png) no-repeat;
      // }

      &__img_wrap,
      &__text_wrap {
        width: 100%;
      }

      &__img_wrap
      {
        height: 145px;
        background: none;
      }

        &__img {
          display: table;
          margin: 0 auto;
          width: auto;
        }

        &__title {
          // margin-bottom: 8px;
          text-align: center;
        }

        &__desc {
          text-align: justify;
        }

          &__link {
            text-decoration: underline;
            color: #03a9f4;
          }
    }

  .courses
  {
    padding: 73px 0 82px;
    // height: 1239px;
    // background: #f4f5f2 url(../img/bg/courses.png);

    &__title {
      color: $lightBlack;
    }

    &__desc {
      margin-top: 13px;
      margin-bottom: 20px;
    }
  }

    // .hidden {
    //   display: none;
    // }

      .course
      {
        position: relative;
        margin-top: 23px;
        // width: 300px;
        background-color: $white;
        box-shadow: 0 1px 5px $shadow;
        overflow: hidden;
        // cursor: pointer;

        $course: &;

        &__time,
        &__label {
          background-image: url(../img/bg/sprite.png);
          background-repeat: no-repeat;
        }

        &__img_wrap {
          height: 170px;
        }

        &__text_wrap {
          padding: 18px 21px 15px;
        }

        &__title {
          line-height: 24px;
          transition: color .5s;
        }

        // &__desc {
        //   margin-bottom: 8px;
        // }

        &__time {
          margin-top: 10px;
          margin-left: -1px;
          padding-left: 16px;
          color: #b6b6b6;
          background-position: -2px -47px;
        }

        &__checkbox_wrap {
          display: block;
          padding: 20px 20px 19px;
          height: 59px;
          background-color: #f5f5f5;
        }

          &__input {
            display: none;
          }

          &__label {
            display: block;
            padding-top: 1px;
            padding-left: 39px;
            height: 20px;
            font-weight: 400;
            // font-size: 18px;
            // line-height: 20px;
            font-size: 1.285714285714286em;
            line-height: 1.111111111111111;
            background-position: -2px -2px;
            transition: all .5s;
            cursor: pointer;
          }

          &__input:checked + &__label {
            color: $green;
            background-position: -2px -26px;
          }

        &__foreground {
          position: absolute;
          top: 165px;
          left: -100%;
          width: 100%;
          height: 5px;
          background-color: $green;
          transition: all .5s;
        }

        &-active
        {
          #{$course}__title {
            color: $green;
          }

          #{$course}__foreground {
            left: 0;
          }
        }

        &-learned
        {
          box-shadow: 0 0 0 #000;

          #{$course}__foreground {
            top: 0;
            left: 0;
            height: 100%;
            opacity: .2;
          }
        }
      }

  #learned
  {
    display: none;
    padding-top: 511px;
    height: 1084px;
    color: $green;

    &:before {
      font-family: FontAwesome;
      // font-size: 35px;
      font-size: 0.8333333333333333em;
      content: '\f00c';
    }
  }

  .footer {
    // position: fixed;
    bottom: 0;
    padding-top: 15px;
    width: 100%;
    height: 72px;
    text-align: center;
    background-color: $lightBlack;
  }

// @import 'foreground';

@import 'adaptive';
